.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.header {
  display: flex;
}

.content {
  display: flex;
  flex-direction: column;
}

.title {
  font-weight: 700;
  font-size: 15px;
  margin: 18px 0 0;
}

.description {
  color: var(--blue-grey-500);
  font-size: 13px;
  margin: 8px 0 22px;
}

@media screen and (max-width: 480px) {
  .description {
    margin-bottom: 14px;
  }
  .title {
    margin-top: 20px;
  }
}
