.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.header {
  display: flex;
}

.content {
  display: flex;
  flex-direction: column;
}

.title {
  font-weight: 700;
  font-size: 15px;
  margin: 18px 0 0;
}

.description {
  color: var(--blue-grey-500);
  font-size: 13px;
  margin: 8px 0 22px;
}

.inputContainer {
  display: grid;
  grid-gap: 18px;
}

.syncContainer {
  display: flex;
  margin-top: 20px;
  margin-bottom: 24px;
  align-items: center;
}

.syncDescription {
  margin-right: 8px;
}

.syncUnits {
  margin-left: 8px;
  color: var(--blue-grey-600);
}

.buttonContainer {
  display: flex;
}

.error {
  margin-top: 20px;
  color: var(--red-500);
}

@media screen and (max-width: 480px) {
  .buttonContainer {
    flex-direction: column;
  }
}
